<div class="row">
  <div class="col col-xs-12 col-md-6 col-md-offset-3 text-center">
      <h3>Please enter your shipping information.</h3>
      <div class="well">
        <form name="deliveryForm" ng-submit="deliveryForm.$valid && processDeliveryInfo()" novalidate>
          <label for="fullname">Full Name</label>
          <br>
          <input type="text" name="fullname" ng-model="fullname" required class="formInput"/>
          <br>
          <div ng-messages="deliveryForm.fullname.$error" ng-if="deliveryForm.fullname.$dirty">
            <div ng-message="required">Fullname is required</div>
          </div>
          <label for="address1">Address Line 1</label>
          <br>
          <input type="text" name="address1" ng-model="address1" required class="formInput"/>
          <br>
          <div ng-messages="deliveryForm.address1.$error" ng-if="deliveryForm.address1.$dirty">
            <div ng-message="required">Address is required</div>
          </div>
          <label for="address2">Address Line 2</label>
          <br>
          <input type="text" name="address2" ng-model="address2" class="formInput"/>
          <br>
          <label for="city">City</label>
          <br>
          <input type="text" name="city" ng-model="city" required class="formInput"/>
          <br>
          <div ng-messages="deliveryForm.city.$error" ng-if="deliveryForm.city.$dirty">
            <div ng-message="required">City is required</div>
          </div>
          <label for="state">State</label>
          <br>
          <input type="text" name="state" ng-model="state" required class="formInput"/>
          <br>
          <div ng-messages="deliveryForm.state.$error" ng-if="deliveryForm.state.$dirty">
            <div ng-message="required">State is required</div>
          </div>
          <label for="zipcode">Zip Code</label>
          <br>
          <input type="text" name="zipcode" ng-model="zipcode" required class="formInput"/>
          <br>
          <div ng-messages="deliveryForm.zipcode.$error" ng-if="deliveryForm.zipcode.$dirty">
            <div ng-message="required">Zipcode is required</div>
          </div>
          <label for="date">Delivery Date</label>
          <br>
          <input type="date" name="date" ng-model="date" required class="formInput"/>
          <br>
          <div ng-messages="deliveryForm.date.$error" ng-if="deliveryForm.date.$dirty">
            <div ng-message="required">Delivery date is required</div>
          </div>
          <button type="submit" class="green-btn btn" ng-disabled="deliveryForm.$invalid">Submit</button>
        </form>
      </div>
  </div>
</div>
