<div class="row">
  <div class="col col-xs-12">
    <div class="well">
      <h3>Login</h3>
      <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
        <label for="username">Username:</label>
        <br>
        <input type="text" ng-model="username" name="username" class="formInput" required/>
        <br>
        <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$dirty">
          <div ng-message="required">Username is required</div>
        </div>
        <label for="password">Password:</label>
        <br>
        <input type="password" ng-model="password" name="password" class="formInput" required/>
        <br>
        <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
          <div ng-message="required">Password is required</div>
        </div>
        <p ng-show="loginFailed">Username or password incorrect.</p>
        <button type="submit" class="btn green-btn" ng-disabled="loginForm.$invalid">Login</button>
        <button ng-click="registration()" type="button" class="btn green-btn">Sign up</button>
      </form>
    </div>
  </div>
</div>
